---
// import Introduce from '../components/Introduce.astro';
import Introduce from '../components/Introduce.md'

let title = 'Howdz - 起始页';
let description = 'Howdz-个性化的浏览器导航首页面板，支持自定义添加组件，可编辑组件各种属性。响应式设计，可自定义随机壁纸、动态壁纸等，目前已提供时钟、天气、搜索栏、TodoList、热搜等多种组件。'
let keywords = 'Howdz,浏览器起始页,低代码,可视化编辑,自定义面板,Vue,Dashboard,Howdyjs,Leon.D'
let author = 'Leon.D'
---
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content={author}/>
    <meta name="twitter:title" content={title}/>
    <meta name="twitter:description" content={description} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css">

    <style lang="scss" global>
        header {
            background: #dae2ef;
            padding: 4rem 0 2rem;
        }
        .header-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            max-width: min(100%, 68ch);
            margin: 0 auto;
        }
        .banner {
            width: 100%;
            text-align: center;
            .link-wrapper {
                padding: 2em .6em .6em;
                display: inline-flex;
                align-items: center;
                flex-wrap: wrap;
                .btn-jump {
                    margin: .6em 0;
                    position: relative;
                    padding: .5em 1em;
                    font-weight: 500;
                    font-size: 1.2em;
                    line-height: 1;
                    outline: none;
                    overflow: hidden;
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    white-space: nowrap;
                    cursor: pointer;
                    -webkit-appearance: none;
                    box-sizing: border-box;
                    user-select: none;
                    background: #262626;
                    color: #fff;
                    border-radius: 4px;
                    box-shadow: 0 0 2px #464646;
                    .text {
                        margin-left: 5px;
                    }
                    svg path {
                        fill: #fff;
                    }
                }
                .division {
                    font-size: .9em;
                    color: #9a9a9a;
                    margin: 0 1em;
                }
                .download-wrapper {
                    font-size: .9em;
                    margin: .6em 0;
                }
            }
        }
        article.introduce {
            padding: .8em 0;
            line-height: 1.5;
            overflow: hidden;
            section.control {
                margin-top: .8em;
                display: flex;
                flex-direction: column;
                gap: 1em;
                max-width: 70ch;
            }
            ul {
                padding-inline-start: 2em;
                li {
                    margin-bottom: .2em;
                }
            }
            details {
                padding-inline-start: 1em;
                summary {
                    cursor: pointer;
                    user-select: none;
                }
                section {
                    padding-inline-start: 1em;
                }
                img {
                    box-shadow: 0 0 .2em #ccc;
                    margin: .5em;
                    max-width: 320px;
                    width: 100%;
                }
                p, li {
                    font-size: .85em;
                    color: #464646;
                }
            }
            code {
                font-family: inherit;
                margin: 0 .1em;
                padding: 0 .1em;
                font-weight: bold;
                border-radius: .2em;
                background: #fdfae1;
            }
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div class="container">
                <div class="header-wrapper">
                    <img width="128" height="128" src="/assets/logo.png" alt="Astro logo">
                    <h1>Welcome to <a href="https://s.kongfandong.cn/" target="_blank">Howdz</a></h1>
                </div>
                <div class="banner">
                    <div class="link-wrapper">
                        <a href="https://s.kongfandong.cn/" target="_blank">
                            <div class="btn-jump">
                                <svg viewBox="0 0 1024 1024" width="30" height="30">
                                    <path d="M0 266.24l245.76 143.36L1024 184.32 450.56 552.96l286.72 348.16L1024 184.32z m327.68 532.48l-40.96-327.68 471.04-163.84-368.64 225.28z m81.92-225.28l-81.92 266.24 163.84-163.84z"></path>
                                </svg>
                                <div class="text">立即体验</div>
                            </div>
                        </a>
                        <span class="division">or</span>
                        <div class="download-wrapper">
                            <a href="https://leon-kfd.github.io/Dashboard/howdy-dashboard.crx">
                                <p style="margin-bottom: .4em">Download CRX (Chrome extension)</p>
                            </a>
                            <a href="https://github.com/leon-kfd/Dashboard/releases/tag/v1.0.1-beta.1">
                                <p>Download Install Package (Electron)</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <article class="introduce">
                <section class="control">
                    <Introduce />
                </section>
            </article>
            <footer>
                <p style="margin-top:2rem;margin-bottom:0">© 2021 <a title="About me" href="https://kongfandong.cn/blog/about">Leon.D</a></p>
            </footer>
        </div>
    </main>
</body>
</html>
